.header {
  background-color: #9575cd;
  color: white;
  margin-bottom: 0;
}
.footer {
  background-color: #d1c4e9;
}
.navbar-custom {
  background-color: #512da8;
}

.jumbotron{
    margin-top: 50px;
}

.modal-header{
  background-color: #5133a5;
  color: white;
}
.modal-body {
  background-color: #d1c5e8;
}